# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/

# Hardhat / Solidity
artifacts/
cache/
typechain-types/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.swp
*.swo

# Turbo
.turbo/
